<center style="width:100%;min-width:580px">


    <table
        style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;width:100%;padding:0px">
        <tbody>
            <tr style="vertical-align:top;text-align:center;padding:0" align="center">
                <td align="center"
                    style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0"
                    valign="top">
                    <center style="width:100%;min-width:580px">

                        <table
                            style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;width:580px;margin:0 auto;padding:0">
                            <tbody>
                                <tr style="vertical-align:top;text-align:center;padding:0" align="center">
                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0 0px 0 0"
                                        align="center" valign="top">

                                        <table
                                            style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;width:540px;margin:0 auto;padding:0">
                                            <tbody>
                                                <tr style="vertical-align:top;text-align:center;padding:0"
                                                    align="center">
                                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0px 0px 10px"
                                                        align="center" valign="top">
                                                        <div style="text-align:center" align="center">

                                                            <a href="https://github.com"
                                                                style="color:#4183c4;text-decoration:none"
                                                                target="_blank"
                                                                data-saferedirecturl="https://www.google.com/url?q=https://github.com&amp;source=gmail&amp;ust=1621033136095000&amp;usg=AFQjCNHPqe_blozXLYRXZpV9nalGKuaizA">
                                                                <img alt="GitHub home"
                                                                    src="https://famouscucumber-ojebi.run.goorm.io/images/orange_email.png"
                                                                    style="outline:none;text-decoration:none;width:auto;max-width:100%;float:none;text-align:center;margin:0 auto;padding:25px 0 17px;border:none; width: 48px;"
                                                                    align="none" class="CToWUd">

                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;width:0px;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0"
                                                        align="center" valign="top"></td>
                                                </tr>
                                            </tbody>
                                        </table>


                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </center>
                </td>
            </tr>
        </tbody>
    </table>


    <table
        style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;width:580px;margin:0 auto;padding:0">
        <tbody>
            <tr style="vertical-align:top;text-align:center;padding:0" align="center">
                <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0"
                    align="center" valign="top">

                    <table
                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;width:100%;display:block;padding:0px">
                        <tbody>
                            <tr style="vertical-align:top;text-align:center;padding:0" align="center">
                                <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0 0px 0 0"
                                    align="center" valign="top">

                                    <div
                                        style="background-color:#ffffff;border-radius:3px;padding:20px 20px 0 20px;border:1px solid #dddddd">

                                        <table
                                            style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;width:540px;margin:0 auto;padding:0">
                                            <tbody>
                                                <tr style="vertical-align:top;text-align:center;padding:0"
                                                    align="center">
                                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0px 0px 0"
                                                        align="center" valign="top">

                                                        <div>



                                                            <h1 style="color:#333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:300;text-align:center;line-height:1.2;word-break:normal;font-size:24px;margin:10px 0 25px;padding:0"
                                                                align="center">긴급재난문자</h1>

                                                            <hr
                                                                style="color:#d9d9d9;background-color:#d9d9d9;height:1px;margin:20px 0;border:none">

                                                            <p style="word-wrap:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;color:#0352fc;line-height:20px;text-align:left;margin:15px 0 5px;padding:0"
                                                                align="left">{{keywords}}</p>
                                                            <p style="word-wrap:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;color:#333;line-height:20px;text-align:left;margin:15px 0 5px;padding:0"
                                                                align="left">
                                                                {{content}}</p>








                                                            <hr
                                                                style="color:#d9d9d9;background-color:#d9d9d9;height:1px;margin:20px 0;border:none">
                                                            <div style="color:#333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:300;text-align:center;line-height:1.2;word-break:normal;font-size:24px;margin:10px 0 25px;padding:0"
                                                                align="center">
                                                                <div
                                                                    style="text-align:center; font-size:small; color: #fea82f;">
                                                                    난보바
                                                                </div>
                                                                <a href="https://www.nanboba.space"
                                                                    style="text-decoration: none;color: #ff6701;font-size:small;">
                                                                    키워드 설정
                                                                </a>
                                                                <span class="m-1">·</span>
                                                                <a href="{{deleteURL}}"
                                                                    style="text-decoration: none;color: #ff6701;font-size:small;">
                                                                    구독취소
                                                                </a>
                                                                <div
                                                                    style="text-align: center; font-size: xx-small; color: (--bs-gray);">
                                                                    <span>Made My Famous Cucumber</span>
                                                                </div>
                                                            </div>






                                                        </div>


                                                    </td>
                                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;width:0px;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0"
                                                        align="center" valign="top"></td>
                                                </tr>
                                            </tbody>
                                        </table>


                                    </div>


                                </td>
                            </tr>
                        </tbody>
                    </table>


                </td>
            </tr>
        </tbody>
    </table>






</center>

